{% extends "invoicepi/base.html" %}
{% block css %}
<link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script>
$(document).ready( function () {
    $('#doclist').DataTable( {
        "order":[[0, 'desc']],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": 'api/doc',
            "type": "POST",
            "dataType": 'json',
            "dataSrc": "data",
            "data": {
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
            }
        },
        "columns": [
            { "data": "issue_date" },
            { 'data': 'document_type' },
            { 'data': 'receiver' },
            { 'data': 'subject' },
            { 'data': 'amount' },
            { 'data': 'currency' },
            { 'data': 'status' },
        ],
        "columnDefs": [
            {
                "render": function ( data, type, row ) {
                    date = new moment(data);
                    return date.format("YYYY-MM-DD");
                },
                "targets": 0
            },
            {
                "render": function ( data, type, row ) {
                    return '<a href="doc/' + row['id']+ '">' + data + '</a>';
                },
                "targets": 3
            },
         ]
    });
    table.order([0, 'desc']).draw();
});
</script>
{% endblock %}
{% block title %}
My Documents
{% endblock %}
{% block sidebar %}
<ul class="nav nav-sidebar">
  <li class="active"><a href="{% url 'list_document' %} ">My Documents</a></li>
  <li><a href="{% url 'list_person' %}">Contact List</a></li>
  <li><a href="{% url 'list_company' %}">Company List</a></li>
</ul>
{% endblock %}
{% block content %}
  {% csrf_token %}
  <div class="table-responsive">
    <table class="table table-striped" id="doclist">
      <thead>
        <tr>
          <th>Issue Date</th>
          <th>Type</th>
          <th>To</th>
          <th>Suject</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Status</th>
        </tr>
      </thead>
    </table>
 </div>
{% endblock %}
