{% extends "invoicepi/base.html" %}
{% block title %}
Company List
{% endblock %}
{% block css %}
<link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
<script>
$(document).ready( function () {
    $('#company_list').DataTable( {
        "ajax": {
            "url": 'api/company',
            "dataType": 'json',
            "dataSrc": "data",
        },
        "columns": [
            { "data": "name" },
            { 'data': 'phone' },
            { 'data': 'primary_contact' },
        ],
        "columnDefs": [
            {
                "render": function ( data, type, row ) {
                    return '<a href="company/' + row['id']+ '">' + data + '</a>';
                },
                "targets": 0
            },
        ],
        dom: "Bfrtip",
        "select": true,
    });
});
</script>
{% endblock %}
{% block sidebar %}
<ul class="nav nav-sidebar">
  <li><a href="{% url 'list_document' %} ">My Documents</a></li>
  <li><a href="{% url 'list_person' %}">Contact List</a></li>
  <li class="active"><a href="{% url 'list_company' %}">Company List</a></li>
</ul>
{% endblock %}
{% block content %}
  <div class="table-responsive">
    <table class="table table-striped" id="company_list">
      <thead>
        <tr>
          <th>Company</th>
          <th>Phone</th>
          <th>Contact</th>
        </tr>
      </thead>
    </table>
 </div>
{% endblock %}
