{% extends "base.html" %}
{% block title %}
Contact List
{% endblock %}
{% block css %}
<link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#person_list').DataTable( {
        "ajax": {
            "url": '/api/person',
            "dataType": 'json',
            "dataSrc": "data",
        },
        "columns": [
            { "data": "company" },
            { 'data': 'person' },
            { 'data': 'email' },
            { 'data': 'title' },
            { 'data': 'mobile' },
        ],
        "columnDefs": [
            {
                "render": function ( data, type, row ) {
                    return '<a href="/person/' + row['id']+ '">' + data + '</a>';
                },
                "targets": 1
            },
         ]
    });
});
</script>
{% endblock %}
{% block sidebar %}
<ul class="nav nav-sidebar">
  <li><a href="{% url 'list_document' %} ">My Documents</a></li>
  <li class="active"><a href="{% url 'list_person' %}">Contact List</a></li>
  <li><a href="{% url 'list_company' %}">Company List</a></li>
</ul>
{% endblock %}
{% block content %}
  <div class="table-responsive">
    <table class="table table-striped" id="person_list">
      <thead>
        <tr>
          <th>Company</th>
          <th>Person</th>
          <th>Email</th>
          <th>Title</th>
          <th>Phone</th>
        </tr>
      </thead>
    </table>
 </div>
{% endblock %}
