{% extends "base.html" %}
{% block content %}
  <h2 class="sub-header">List of Documents</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Type</th>
          <th>Issue Date</th>
          <th>To</th>
          <th>Suject</th>
          <th>Currency</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      {% for doc in document_list %}
        <tr>
          <td><a href="{% url 'show_document' doc.id %}">{{ doc.id }}</a></td>
          <td>{{ doc.document_type }}</td>
          <td>{{ doc.issue_date }}</td>
          <td>{{ doc.receiver }}</td>
          <td>{{ doc.subject }}</td>
          <td>{{ doc.currency }}</td>
          <td>{{ doc.amount }}</td>
          <td>{{ doc.status }}</td>
        </tr>
     {% endfor %}
     </tbody>
   </table>
 </div>
{% endblock %}
